<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title = 'SpringApp - reddit clone')}">
</head>
<body>

<nav th:replace="~{layouts/main_layout :: nav}"></nav>
<div th:replace="~{layouts/main_layout :: jumbotron}"></div>

<div class="container">


    <!-- login -->
    <form class="form-horizontal" role="form" method="POST" th:action="@{/login}">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Please Login</h2>
                <hr>

                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.error != null}">
                        <h3><i class="far fa-frown"></i></h3>
                        Invalid username and/or password.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${param.logout != null}">
                        <h3><i class="far fa-smile-wink"></i></h3>
                        You have been logged out.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <label class="sr-only" for="email">E-Mail Address</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" name="email" class="form-control" id="email" placeholder="you@example.com" required autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="padding-top: .35rem">
                <div class="form-check mb-2 mr-sm-2 mb-sm-0">

                    <div class="custom-control custom-checkbox">
                        <input id="remember-me" name="remember-me" type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" for="remember-me">Remember me</label>
                    </div>

                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row" style="padding-top: 1rem">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success"><i class="fas fa-sign-in-alt"></i> Login</button>
                <!-- <a class="btn btn-link" href="forgotPassword.html">Forgot Your Password?</a> -->
            </div>
            <div class="col-md-3"></div>
        </div>
    </form>


</div>

<section th:replace="~{layouts/main_layout :: bootstrap_js}"></section>
</body>
</html>