<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layouts/main_layout :: head(title = 'SpringApp - reddit clone')}">
</head>
<body>

<nav th:replace="~{layouts/main_layout :: nav}"></nav>
<div th:replace="~{layouts/main_layout :: jumbotron}"></div>

<div class="container">

    <div class="container" th:if="${message}">
        <div class="row">
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!error}">
                <span th:text="${message}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${error}">
                <span th:text="${message}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>


    <div id="profile" class="container">

        <div class="row">

            <div class="col-lg-8">


                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="thome-tab" data-toggle="tab" href="#thome" role="tab" aria-controls="thome" aria-selected="true">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tprofile-tab" data-toggle="tab" href="#tprofile" role="tab" aria-controls="tprofile" aria-selected="false">Links</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tcomments-tab" data-toggle="tab" href="#tcomments" role="tab" aria-controls="tcomments" aria-selected="false">Comments</a>
                    </li>
                    <li class="nav-item" th:if="${owner}">
                        <a class="nav-link" id="tedit-tab" data-toggle="tab" href="#tedit" role="tab" aria-controls="tedit" aria-selected="false">Edit</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade show active" id="thome" role="tabpanel" aria-labelledby="thome-tab">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="alert alert-success card-overview text-center" role="alert">
                                    <h4 class="alert-heading"><i class="fas fa-link fa-3x"></i></h4>
                                    <p th:if="${owner}">You have <span th:text="${counterLinks}"></span> links!</p>
                                    <p th:if="${!owner}">This user have <span th:text="${counterLinks}"></span> links!</p>
                                    <hr>
                                    <p class="mb-0" th:if="${owner}">
                                        <a th:href="@{/link/submit}"><button type="button" class="btn btn-success"><i class="fas fa-plus-circle"></i> add a new</button></a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="alert alert-success card-overview text-center" role="alert">
                                    <h4 class="alert-heading"><i class="far fa-comment fa-3x"></i></h4>
                                    <p th:if="${owner}">You wrote <span th:text="${counterComments}"></span> comments!</p>
                                    <p th:if="${!owner}">This user wrote <span th:text="${counterComments}"></span> comments!</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tprofile" role="tabpanel" aria-labelledby="tprofile-tab">
                        <br>
                        <div th:each="link : ${links}">
                            <div class="card text-center">
                                <div class="card-body">
                                    <p class="card-title">

                                        <a class="title" th:href="@{'/link/' + ${link.id}}" target="_blank" th:text="${link.titel}"></a>
                                        <span class="domain">(<a th:href="${link.url}" th:text="${link.getShortUrl()}"></a>)</span>
                                    </p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a th:href="@{'/link/' + ${link.id} + '#comments'}" class="comments" th:text="|${link.getComments().size()} comments|"><i class="fas fa-comments"></i>comments</a>
                                    </li>
                                </ul>
                                <div class="card-footer text-muted">
                                    <time class="live-timestamp" th:text="${link.getPrettyDifference()}"></time>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tcomments" role="tabpanel" aria-labelledby="tcomments-tab">
                        <br>
                        <div th:each="comment : ${comments}">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title">
                                        You wrote a comment:
                                        "<span th:text="${comment.getBody()}"></span>"
                                        in the
                                        <a class="title" th:href="@{'/link/' + ${comment.getLink().getId()}}" target="_blank">link</a>.
                                    </p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tedit" role="tabpanel" aria-labelledby="tedit-tab" th:if="${owner}">


                        <br>

                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <h3><i class="far fa-bell"></i></h3>
                            Don't forget! The file must be with the extension <strong>.jpg</strong> and its size must be <strong>less than 1MB</strong>.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <h2>Upload:</h2>
                        <hr>
                        <div>
                            <form id="fileForm" method="POST" enctype="multipart/form-data" th:action="@{/edit/photo}">
                                <table>
                                    <tr><td></td><td><input type="file" name="file" onchange="firstValidation(this)"/> <input type="submit" value="Upload" id="fileId" class="btn btn-outline-success" disabled /></td></tr>
                                </table>
                            </form>
                        </div>

                    </div>

                </div>


            </div>

            <!-- Right Side -->
            <div class="col-xl-3 col-lg-4 offset-xl-1 offset-lg-0">
                <div class="row">
                    <div class="card col-12">
                        <img class="card-img-top" th:src="|@{'/upload-dir/'+${avatar}}|" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">
                                <a th:href="|@{/user/}${#authentication.getPrincipal().getLogin()}|">
                                    <i class="far fa-user"></i> <span th:text="${#authentication.getPrincipal().getLogin()}">Account</span>
                                </a>
                            </p>

                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <a th:href="@{/link/submit}" type="button" class="btn btn-outline-secondary"><i class="far fa-paper-plane"></i> New Link</a>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        options
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item" th:href="@{/edit/photo}">change profile photo <i class="fas fa-camera-retro"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="card col-12">
                        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                        <div class="card-body">
                            <h5 class="card-title">Profile:</h5>
                            <p class="card-text">
                                Links: <span th:text="${counterLinks}"></span><br/>
                                Comments: <span th:text="${counterComments}"></span><br/>
                                E-mail: <span th:text="${email}" th:if="${owner}"></span><span th:if="${!owner}"><i class="fas fa-lock"></i></span><br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- // row -->

    </div><!-- // profile -->



</div>

<script th:if="${owner}">

function firstValidation(fileX) {
    var file = fileX.files[0];
    var fileSize = file.size / 1024 / 1024; // in MB
    var fileType = file.type;
    if (fileSize < 1 && fileSize > 0 && (fileType == "image/jpeg" || fileType == "IMAGE/JPEG")) {
        document.getElementById("fileId").disabled = false;
        console.log("File size: " + fileSize + " MB, type: " + fileType);
    } else {
        console.log("File size: " + fileSize + " MB, type: " + fileType);
        document.getElementById("fileForm").reset();
        document.getElementById("fileId").disabled = true;
    }
}

</script>

<section th:replace="~{layouts/main_layout :: bootstrap_js}"></section>
</body>
</html>