<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title = 'SpringApp - reddit clone')}">
</head>
<body>

<nav th:replace="~{layouts/main_layout :: nav}"></nav>
<div th:replace="~{layouts/main_layout :: jumbotron}"></div>

<div class="container">


    <!-- profile -->
    <div id="profile" class="container">

        <div class="row">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Comments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Preferences</a>
                </li>
            </ul>
        </div>

        <div class="row">

            <div class="col-8">
                <div class="row">
                    <div class="card col-12" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">What's new in place4code</h5>
                            <h6 class="card-subtitle mb-2 text-muted">submitted 17 days ago by place4code</h6>
                            <p class="card-text">short content</p>
                            <a href="#" class="card-link">89 Comments</a>
                            <a href="#" class="card-link">Share</a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Right Side -->
            <div class="col-3 offset-1">
                <div class="row">
                    <div class="card col-12">
                        <img class="card-img-top" src="static/images/profile_small.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">
                                <a href="/u/place4code">/u/place4code</a>
                            </p>
                            <a th:href="@{/link/submit}"><button type="button" class="btn btn-primary btn-lg btn-block">New Post</button></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card col-12">
                        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                        <div class="card-body">
                            <h5 class="card-title">Your Information</h5>
                            <p class="card-text">
                                Posts: 1<br/>
                                Comments: 34<br/>
                                User Since: March 23, 2019<br/>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card col-12">
                        <h5 class="card-title recentLinks">Recent Links Clicked</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="#">What's new in place4code</a></li>
                            <li class="list-group-item"><a href="#">jump to Java 11</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div> <!-- // row -->

    </div><!-- // profile -->



</div>

<section th:replace="~{layouts/main_layout :: bootstrap_js}"></section>
</body>
</html>