<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layouts/main_layout :: head(title = 'SpringApp index')}">
</head>
<body>


<nav th:replace="~{layouts/main_layout :: nav}"></nav>

<div class="container margin-top-default">

    <div class="row">

        <div class="col text-center">

            <h1 class="mb-4"><i class="far fa-lightbulb text-warning"></i> Welcome to my example project.</h1>

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">About</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Stack</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-inprogress-tab" data-toggle="pill" href="#pills-inprogress" role="tab" aria-controls="pills-inprogress" aria-selected="false">In progress...</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <p style="margin-top:20px;">

                        Hi, this is my first sample project in Spring Boot.<br>
                        What can you do?
                        You can register or log in.
                        Write a new link about which you want to discuss.<br>
                        <img src="/images/about1.png" class="img-fluid" alt="Responsive image" />
                        <br>
                        Add any link to your favorites, or just click "I like it", You can rate any link.<br>
                        <img src="/images/about2.png" class="img-fluid" alt="Responsive image" />
                        <br>
                        You can add a comment<br>
                        <img src="/images/about3.png" class="img-fluid" alt="Responsive image" />
                        <br>
                        You can visit the profiles of another user.
                        <br>
                        <img src="/images/about4.png" class="img-fluid" alt="Responsive image" />
                        <br>
                        The source code of the project is available on <a href="https://github.com/place4code/SpringApp" type="button" class="btn btn-sm btn-outline-success"><i class="fab fa-github"></i> GitHub</a>


                    </p>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                    <p>
                        The stuff what I used to write this project:
                    </p>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">JAVA</li>
                        <li class="list-group-item">Spring Framework 5</li>
                        <li class="list-group-item">Spring Boot 2, Spring Security, Spring DATA </li>
                        <li class="list-group-item">Thymeleaf</li>
                        <li class="list-group-item">JavaScript, CSS, HTML, Bootstrap</li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

                    <p>
                        I invite you to observe my <a href="https://github.com/place4code" type="button" class="btn btn-sm btn-outline-success"><i class="fab fa-github"></i> GitHub - place4code</a> on which I try to throw in the progress of my learning/work/projects.
                        <hr>
                    This project will be developed in my free time
                        <hr>
                        You can find me also on <a href="https://twitter.com/place4code" class="text-primary" style="text-decoration:none;"><i class="fab fa-twitter"></i> @place4code</a>
                    </p>

                </div>
                <div class="tab-pane fade" id="pills-inprogress" role="tabpanel" aria-labelledby="pills-inprogress-tab">

                    <p>
                        Functionalities that are being created:
                    </p>
                    <hr>
                    <div class="row">
                        <div class="alert alert-light col-md-4" role="alert">
                            <i class="far fa-edit"></i> Editing comments (DONE)
                        </div>
                        <div class="alert alert-light col-md-4" role="alert">
                            <i class="fas fa-plus"></i> Adding images
                        </div>
                        <div class="alert alert-light col-md-4" role="alert">
                            <i class="fas fa-plus"></i> Adding a chat
                        </div>
                        <div class="alert alert-light col-md-4" role="alert">
                            <i class="fas fa-users"></i> relations between users
                        </div>
                        <div class="alert alert-light col-md-4" role="alert">
                            <i class="fas fa-chart-line"></i> extension of the user's profile
                        </div>
                    </div>



                </div>
            </div>



        </div>

    </div>

</div>


<section th:replace="~{layouts/main_layout :: bootstrap_js}"></section>
</body>
</html>