<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layouts/main_layout :: head(title = 'SpringApp index')}">
</head>
<body>


<nav th:replace="~{layouts/main_layout :: nav}"></nav>


<div sec:authorize="!isFullyAuthenticated()" style="background-color: #087ad1;'">

    <div class="container d-flex align-items-center" style="min-height: 100vh;">


            <div class="col text-center text-white">
                <h1 class="cover-heading">Welcome to my sample page.</h1>
                <hr>
                <p class="lead">Stack: Java <i class="fab fa-java"></i>, Spring Boot <i class="fas fa-leaf"></i>, Hibernate, String Security, Thymeleaf, Lombok, Spring DATA, H2 database</p>
                <hr>
                <p>
                    To see content
                    <a th:href="@{/login}" class="btn btn-sm btn-outline-light">log in</a> or <a th:href="@{/register}" class="btn btn-sm btn-outline-light">register</a>
                    <br>
                    Registration is simple and takes 20 seconds
                </p>
                <p class="text-center">
                    <a th:href="@{/about}" class="btn btn-sm btn-outline-light"><i class="far fa-question-circle"></i> About the project</a>
                </p>
                <p>
                    You can find me also on <a href="https://twitter.com/place4code" class="text-light" style="text-decoration:none;"><i class="fab fa-twitter"></i> @place4code</a>
                </p>
            </div>


    </div>

</div>

<div class="container margin-top-default" sec:authorize="isFullyAuthenticated()">


    <div class="card" th:each="link : ${links}" style="margin-bottom:16px;">

        <div class="card-body">

            <p class="text-black-50">
                <a th:href="@{'/user/' + ${link.getUser().getLogin()}}" class="author text-muted" th:text="${link.getUser().getLogin()}"></a>
                <time class="live-timestamp" th:text="${link.getPrettyDifference()}"></time>
            </p>

            <p>
                <span class="h5">
                    <a th:href="@{'/link/' + ${link.id}}" th:text="${link.titel}" class="text-body"></a></span>
                <span class="domain">(<a th:href="${link.url}" th:text="${link.getShortUrl()}"></a>)</span>
            </p>

            <hr>

            <div class="text-black-50">

                <span th:text="${link.getComments().size()}"></span> <i class="far fa-comments text-success"></i> |
                <span th:text="${link.getLikesCounter()}" th:data-likes="${link.getLikesCounter()}" id="likesCount"></span> <i class="far fa-thumbs-up text-primary"></i> |
                <span th:text="${link.getVotesCounter()}">0</span> <i class="fas fa-medal text-warning"></i>

            </div>


        </div>
    </div>


</div>




<section th:replace="~{layouts/main_layout :: bootstrap_js}"></section>
</body>
</html>