<html xmlns:th="https://www.thymeleaf.org">
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form id="fileForm" method="POST" enctype="multipart/form-data" action="/x">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file" onchange="firstValidation(this)"/></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" id="fileId" disabled /></td></tr>
        </table>
    </form>
</div>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" />
            <img th:src="${file}"/>
        </li>
    </ul>
</div>

<script>


function firstValidation(fileX) {
    var file = fileX.files[0];
    var fileSize = file.size / 1024 / 1024; // in MB
    var fileType = file.type;
    if (fileSize < 1 && fileSize > 0) {
        document.getElementById("fileId").disabled = false;
        console.log("File size: " + fileSize + " MB, type: " + fileType);
    } else {
        console.log("File size: " + fileSize + " MB, type: " + fileType);
        document.getElementById("fileForm").reset();
        document.getElementById("fileId").disabled = true;
    }
}


</script>

</body>
</html>