<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layouts/main_layout :: head(title = 'SpringApp index')}">
</head>
<body>

<nav th:replace="~{layouts/main_layout :: nav}"></nav>
<div th:replace="~{layouts/main_layout :: jumbotron}"></div>

<div class="container">



    <div class="alert alert-success" role="alert" th:if="${success}">
        Your new link was created
    </div>

    <!-- links -->


        <div class="card">

             <div class="card-body">
                    <div class="text-center">
                    <a href="#" class="upvote" th:data-id="${link.id}" style="color: green"><i class="fas fa-arrow-up"></i></a>&nbsp;&nbsp;
                    <span th:id="|votesCounter-${link.id}|" class="votesCounter" th:text="${link.getVotesCounter()}">0</span>&nbsp;&nbsp;
                    <a href="#" class="downvote" th:data-id="${link.id}" th:disabled="true" style="color: red"><i class="fas fa-arrow-down"></i></a>
             </div>

             <p class="text-black-50">Posted by
                 <a th:href="@{'/user/' + ${link.getUser().getLogin()}}" class="author text-muted" th:text="${link.getUser().getLogin()}"></a>
                 <time class="live-timestamp" th:text="${link.getPrettyDifference()}"></time>
             </p>
             <p>
                 <span th:text="${link.titel}" class="h4">Title</span>
                 <span class="domain">(<a th:href="${link.url}" th:text="${link.getShortUrl()}"></a>)</span>
             </p>
             <p th:text="${link.desc}"></p>
             <p>
                 <a th:href="${link.url}" class="btn btn-light btn-sm"><i class="fas fa-globe-europe"></i> <span th:text="|${link.getShortUrl()}...|"></span></a>
                 <a th:if="${canLike == true}" th:data-id="${link.id}" href="#" class="btn btn-outline-primary btn-sm" id="likeBtn"><i class="far fa-thumbs-up"></i> like</a>
             </p>

             <hr>
                 <div class="text-black-50">

                     <span th:text="${link.getComments().size()}"></span> <i class="far fa-comments"></i> |
                     <span th:text="${link.getLikesCounter()}" th:data-likes="${link.getLikesCounter()}" id="likesCount"></span> <i class="far fa-thumbs-up"></i>

                 </div>


        </div>


            <ul class="list-group list-group-flush">
                <li class="list-group-item">

                    <!-- link comments -->
                    <div id="comments" class="comments">
                        <!-- single comment -->
                        <div class="row comment" th:each="comment : ${link.getComments()}">
                            <div class="col">

                                <p class="text-black-50">
                                    <a th:href="@{'/user/' + ${comment.getLogin()}}" class="author text-muted" th:text="${comment.getLogin()}"></a>
                                    &nbsp;&nbsp;<i class="fas fa-history fa-sm"></i>&nbsp;
                                    <time class="live-timestamp" th:text="${link.getPrettyDifference()}"></time><br>
                                    <span th:text="${comment.getBody()}"></span>
                                </p>
                            </div>
                        </div>
                        <hr class="my-4">
                        <div class="row addcomment" sec:authorize="hasRole('ROLE_USER')">
                            <div class="col">
                                <form id="formAddComment" method="POST" th:action="@{/link/comments}" th:object="${comment}">
                                    <input type="hidden" th:field="*{link}"/>
                                    <div class="form-group">
                                        <textarea class="form-control" id="comment" rows="3" th:field="*{body}"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-outline-success">Add Comment</button>
                                </form>
                            </div>
                        </div>


                    </div>

                </li>
            </ul>
        </div>
        <br>




</div>


<script sec:authorize="isFullyAuthenticated()">
    const allvotes = document.querySelectorAll(".upvote, .downvote");
    for(let i=0; i<allvotes.length; i++) {
        let className = allvotes[i].className;
        allvotes[i].addEventListener('click', function (event) {
            const direction = className === 'upvote' ? 1 : -1;
            const linkID = this.getAttribute("data-id");
            const voteSum = document.getElementById('votesCounter-' + linkID);
            const voteSumValue = voteSum.innerHTML;

            fetch(`http://localhost:8090/vote/link/${linkID}/direction/${direction}/votesCounter/${voteSumValue}`)
                .then(response => response.json())
                .then(data => voteSum.innerHTML = data)
                .catch(err => console.error(err));
        });
    }

    const like = document.querySelector("#likeBtn");

    const link_id = like.getAttribute("data-id");
    const likesCount = document.querySelector('#likesCount');
    var likesCounter = parseInt(likesCount.getAttribute("data-likes"));

    like.addEventListener('click',
    function(event) {
            fetch(`http://localhost:8090/link/${link_id}/likesCounter/${likesCounter}`)
            .then(response => response.json())
            .then(data => likesCount.innerHTML = data)
            .then(likesCounter = likesCounter + 1)
            .then(like.remove())
            .catch(err => console.log(err));
        }
    );




</script>
<section th:replace="~{layouts/main_layout :: bootstrap_js}"></section>
</body>
</html>