<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layouts/main_layout :: head(title = 'SpringApp index')}">
</head>
<body>

<nav th:replace="~{layouts/main_layout :: nav}"></nav>
<div th:replace="~{layouts/main_layout :: jumbotron}"></div>

<div class="container">



    <div class="alert alert-success" role="alert" th:if="${success}">
        Your new link was created
    </div>

    <!-- links -->
    <div class="row link">
        <div class="col-1">
            <div><a href="#" class="upvote" th:data-id="${link.id}"><i class="fas fa-arrow-up"></i></a></div>
            <div><span th:id="|votesCounter-${link.id}|" class="votesCounter" th:text="${link.getVotesCounter()}">0</span></div>
            <div><a href="#" class="downvote" th:data-id="${link.id}" th:disabled="true"><i class="fas fa-arrow-down"></i></a></div>
        </div>
        <div class="col-11">
            <p class="title">
                <a class="title" th:href="@{'/link/' + ${link.id}}" target="_blank" th:text="${link.titel}"></a>
                <span class="domain">(<a th:href="${link.url}" th:text="${link.getShortUrl()}"></a>)</span>
            </p>
            <p class="tagline ">submitted
                <time class="live-timestamp" th:text="${link.getPrettyDifference()}"></time> by
                <a href="profile.html" class="author" th:text="${link.createdBy}"></a>
            </p>
            <p>
                <a th:href="${link.url}" class="permalink"><i class="fas fa-link"></i> <span th:text="${link.url}"></span></a>
            </p>
            <p>
                <a href="#" class="share"><i class="fas fa-share-square"></i> share</a>
            </p>
        </div>
    </div>


    <!-- link comments -->
    <div id="comments" class="comments">
        <div class="row header">
            <div class="col-1">&nbsp;</div>
            <div class="col-11 title" th:text="|all  ${link.getComments().size()} comments|"></div>
        </div>
        <div class="row addcomment" sec:authorize="hasRole('ROLE_USER')">
            <div class="col-1">&nbsp;</div>
            <div class="col-11">
                <form id="formAddComment" method="POST" th:action="@{/link/comments}" th:object="${comment}">
                    <input type="hidden" th:field="*{link}"/>
                    <div class="form-group">
                        <textarea class="form-control" id="comment" rows="3" th:field="*{body}"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                </form>
            </div>
        </div>
        <!-- single comment -->
        <div class="row comment" th:each="comment : ${link.getComments()}">
            <div class="col-1">&nbsp;</div>
            <div class="col-11">
                <span><a href="#"><i class='far fa-user'></i> <span th:text="${comment.getCreatedBy()}"></span></a></span>
                <span><i class="far fa-clock"></i> <span th:text="${comment.getPrettyDifference()}"></span></span>
                <p class="body" th:text="${comment.getBody()}"></p>
                <a href="#" class="permalink"><i class="fas fa-link"></i> permalink</a>
                <a href="#" class="like"><i class="far fa-thumbs-up"></i> Like</a>
            </div>
        </div>

    </div>




</div>

<section th:replace="~{layouts/main_layout :: bootstrap_js}"></section>
</body>
</html>