<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layouts/main_layout :: head(title = 'SpringApp index')}">
</head>
<body>

<nav th:replace="~{layouts/main_layout :: nav}"></nav>
<div th:replace="~{layouts/main_layout :: jumbotron}"></div>

<div class="container">



    <div class="alert alert-success" role="alert" th:if="${success}">
        Your new link was created
    </div>

    <!-- links -->


        <div class="card">

             <div class="card-body">
                    <div class="text-center">
                    <a href="#" class="upvote" th:data-id="${link.id}" style="color: green"><i class="fas fa-arrow-up"></i></a>&nbsp;&nbsp;
                    <span th:id="|votesCounter-${link.id}|" class="votesCounter" th:text="${link.getVotesCounter()}">0</span>&nbsp;&nbsp;
                    <a href="#" class="downvote" th:data-id="${link.id}" th:disabled="true" style="color: red"><i class="fas fa-arrow-down"></i></a>
             </div>

             <p class="text-black-50">Posted by
                 <a th:href="@{'/user/' + ${link.getUser().getLogin()}}" class="author text-muted" th:text="${link.getUser().getLogin()}"></a>
                 <time class="live-timestamp" th:text="${link.getPrettyDifference()}"></time>
             </p>
             <p>
                 <span th:text="${link.titel}" class="h4">Title</span>
                 <span class="domain">(<a th:href="${link.url}" th:text="${link.getShortUrl()}"></a>)</span>
             </p>
             <p th:text="${link.desc}"></p>
             <p>


                 <a th:href="${link.url}" class="btn btn-light btn-sm"><i class="fas fa-globe-europe"></i> <span th:text="|${link.getShortUrl()}...|"></span></a>
                 <hr>
                 <a th:href="@{'/link/' + ${link.getId()} + '/favourite'}" class="text-secondary" style="text-decoration: none;"><i class="far fa-heart"></i> add to favourite</a>
                 <span class="text-danger"><i class="fas fa-heart"></i> favourite</span>
                 &nbsp;
                 <a th:data-canLike="${canLike}" th:data-id="${link.id}" href="#" class="text-secondary" id="likeBtn" style="text-decoration: none;"><i class="far fa-thumbs-up"></i> like</a>
                 <a th:data-canLike="${canLike}" th:data-id="${link.id}" href="#" class="text-primary" id="unlikeBtn" style="text-decoration: none;"><i class="far fa-thumbs-up"></i> I like it</a>
                 &nbsp;


             </p>

             <hr>
                 <div class="text-black-50">

                     <span th:text="${link.getComments().size()}"></span> <i class="far fa-comments"></i> |
                     <span th:text="${link.getLikesCounter()}" th:data-likes="${link.getLikesCounter()}" id="likesCount"></span> <i class="far fa-thumbs-up"></i>

                 </div>


        </div>


            <ul class="list-group list-group-flush">
                <li class="list-group-item">

                    <!-- link comments -->
                    <div id="comments" class="comments">
                        <!-- single comment -->
                        <div class="row comment" th:each="comment : ${link.getComments()}">
                            <div class="col">

                                <p class="text-black-50">
                                    <a th:href="@{'/user/' + ${comment.getLogin()}}" class="author text-muted" th:text="${comment.getLogin()}"></a>
                                    &nbsp;&nbsp;<i class="fas fa-history fa-sm"></i>&nbsp;
                                    <time class="live-timestamp" th:text="${link.getPrettyDifference()}"></time><br>
                                    <span th:text="${comment.getBody()}"></span>
                                </p>
                            </div>
                        </div>
                        <hr class="my-4">
                        <div class="row addcomment" sec:authorize="hasRole('ROLE_USER')">
                            <div class="col">
                                <form id="formAddComment" method="POST" th:action="@{/link/comments}" th:object="${comment}">
                                    <input type="hidden" th:field="*{link}"/>
                                    <div class="alert alert-light" role="alert" id="commentInfo">
                                        <i class="fas fa-info"></i> &nbsp;&nbsp;&nbsp; The maximum length of the comment is 512 characters.
                                    </div>
                                    <div class="form-group">
                                        <textarea minlength="1" class="form-control" id="comment" rows="5" th:field="*{body}"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-outline-success" id="submitComment" disabled>Add Comment</button>
                                    <hr>
                                    <span id="charRemaining"></span>

                                </form>
                            </div>
                        </div>


                    </div>

                </li>
            </ul>
        </div>
        <br>




</div>


<script sec:authorize="isFullyAuthenticated()">


    var like_button = document.getElementById("likeBtn");
    like_button.style.display = "none";
    var unlike_button = document.getElementById("unlikeBtn");
    unlike_button.style.display = "none";

    var link_id = parseInt(like_button.getAttribute("data-id"));
    var likesCount = document.getElementById("likesCount");
    var likes = parseInt(likesCount.getAttribute("data-likes"));


    if(like_button.getAttribute("data-canLike") == "true") {
        like_button.style.display = "inline";
        unlike_button.style.display = "none";
    }

    if(unlike_button.getAttribute("data-canLike") == "false") {
        unlike_button.style.display = "inline";
        like_button.style.display = "none";
    }

    like_button.addEventListener('click',
    function(event) {

        fetch(`http://localhost:8090/link/${link_id}/likesCounter/${likes}`)
            .then(response => response.json())
            .then(data => likesCount.innerHTML = data)
            .then(likes = likes + 1)
            .then(unlike_button.style.display = "inline")
            .then(like_button.style.display = "none")
            .catch(err => console.log(err));

        }
    );


    unlike_button.addEventListener('click',
    function(event) {

            fetch(`http://localhost:8090/link/${link_id}/likesCounter/${likes}/unlike`)
            .then(response => response.json())
            .then(data => likesCount.innerHTML = data)
            .then(likes = likes - 1)
            .then(like_button.style.display = "inline")
            .then(unlike_button.style.display = "none")
            .catch(err => console.log(err));

        }
    );



    const allvotes = document.querySelectorAll(".upvote, .downvote");
    for(let i=0; i<allvotes.length; i++) {
        let className = allvotes[i].className;
        allvotes[i].addEventListener('click', function (event) {
            const direction = className === 'upvote' ? 1 : -1;
            const linkID = this.getAttribute("data-id");
            const voteSum = document.getElementById('votesCounter-' + linkID);
            const voteSumValue = voteSum.innerHTML;

            fetch(`http://localhost:8090/vote/link/${linkID}/direction/${direction}/votesCounter/${voteSumValue}`)
                .then(response => response.json())
                .then(data => voteSum.innerHTML = data)
                .catch(err => console.error(err));
        });
    }


    let charRemaining = document.getElementById("charRemaining");

    document.getElementById('comment').onkeyup = function() {
        var commentLength = this.value.length;
        if(commentLength >= 1 && commentLength <= 512) {
            charRemaining.innerHTML = "<i class='far fa-check-circle text-success'></i> You have " + (512 - commentLength) + " remaining.";
            document.getElementById("submitComment").disabled = false;
        } else {
            charRemaining.innerHTML = '<i class="far fa-bell text-danger"></i> You have ' + (commentLength - 512) + ' too much.';
            document.getElementById("submitComment").disabled = true;
        }

    }



</script>
<section th:replace="~{layouts/main_layout :: bootstrap_js}"></section>
</body>
</html>